main.about {
  padding: 7rem 0 20rem;
  height: 100vh;

  h3 {
    font-size: 2rem;
    margin: 2rem 0 0.3rem;
  }

  p {
    margin: 1rem 0;
  }

  a {
    text-decoration: underline;
  }

  .content {
    height: 65vh;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 3rem;
  }
}

.tech-stack {
  display: grid;
  grid-template-columns: 1fr 1fr;

  ul {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 900px) {
  main.about {
    padding: 4rem 10rem 0;

    .content {
      width: 60vw;
      overflow: hidden;
      margin: 0;

      display: flex;
      flex-direction: row;
      gap: 3rem;
      align-items: center;
    }

    .content div {
      width: 50%;
    }

    .skills {
      margin: 0;
    }

    h2 {
      font-size: 10rem;
    }
  }
}