@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import "styles/light-dark-theme";

$heading: 'Staatliches', sans-serif;
$body-text: 'Helvetica', sans-serif;
$colourOne: var(--bgColour);
$colourTwo: var(--textColour);
$accentOne: var(--accentDark);
$accentTwo: var(--accentLight);
$scrollOne: var(--scrollBar);
$scrollTwo: var(--scrollTrack);

$darkModeTransition: background-color 0.3s ease-in-out;

*, *::before, *::after {
  box-sizing: border-box;
}

// TODO remove if no profile picture added
img {
  width: 100%;
  height: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

body {
  color: $colourTwo;
  background-color: $colourOne;
  margin: 0 2rem;
  padding: 0;
  transition: $darkModeTransition;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-family: $heading;
  font-weight: normal;
  font-size: 3.4rem;
  margin: 0;
}

h2 {
  font-family: $heading;
  font-weight: normal;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}

h3 {
  font-family: $heading;
  font-weight: normal;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}

svg {
  fill: $colourTwo;
  transition: $darkModeTransition;
}

nav {
  margin-bottom: 6rem;
}

section {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-track {
  background: $scrollOne;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  width: 0.1rem;
  border-radius: 0.5rem;
  background: $colourTwo;
}

// TODO Mixin for line (Horiz/Vert)
.line {
  width: 8rem;
  height: 0.1rem;
  background-color: $colourTwo;
  transition: $darkModeTransition;
}
