@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import "./styles/light-dark-theme";

$heading: 'Aladin', cursive;
$body-text: 'Helvetica', sans-serif;
$colourOne: var(--bgColour);
$colourTwo: var(--textColour);
$darkModeTransition: background-color 0.3s ease-in-out;

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

body {
  color: $colourTwo;
  background-color: $colourOne;
  margin: 0 2rem;
  padding: 0;
  transition: $darkModeTransition;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-family: $heading;
  font-weight: normal;
  font-size: 3.4rem;
  margin: 0;
}

h2 {
  font-family: $heading;
  font-weight: normal;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}

h3 {
  font-family: $heading;
  font-weight: normal;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}

svg {
  fill: $colourTwo;
  transition: $darkModeTransition;
}

nav {
  margin-bottom: 6rem;
}

section {
  height: 100vh;
}

// TODO add mixin for header
header.home {
  width: 100%;
  padding: 2rem 2rem 1rem;
  transition: $darkModeTransition;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.content-page {
  background-color: $colourOne;
  width: 100%;
  padding: 2rem 2rem 1rem 0;
  transition: $darkModeTransition;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

    div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

  .line {
    width: 6rem;
    height: 0.1rem;
    background-color: $colourTwo;
    transition: $darkModeTransition;
  }
}

main.home {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: end;

  h2 {
    font-family: $body-text;
    font-size: 1rem;
    text-transform: none;
    margin: 0;
  }
}

main.about {
  padding: 10rem 0 10rem;

  h3 {
    font-size: 2rem;
    margin-top: 3rem;
  }
}

.line {
  width: 8rem;
  height: 0.1rem;
  background-color: $colourTwo;
  transition: $darkModeTransition;
}

.heading {
  margin-bottom: 4rem;
}

.contact-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

footer {
  width: 100%;
  background-color: $colourOne;
  padding: 2rem;
  transition: $darkModeTransition;

  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;

  p {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0.2rem;
  }
}

.tech-stack {
  display: grid;
  grid-template-columns: 1fr 1fr;

  ul {
    list-style-image: url('../images/chevron.svg');
    padding-left: 1rem;
  }
}
