@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
.dark-mode {
  --bgColour: #352D29;
  --textColour: #FAF4E4;
}

.light-mode {
  --bgColour: #FAF4E4;
  --textColour: #352D29;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

body {
  color: var(--textColour);
  background-color: var(--bgColour);
  margin: 0 2rem;
  padding: 0;
  transition: background-color 0.3s ease-in-out;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-family: "Aladin", cursive;
  font-weight: normal;
  font-size: 3.4rem;
  margin: 0;
}

h2 {
  font-family: "Aladin", cursive;
  font-weight: normal;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}

h3 {
  font-family: "Aladin", cursive;
  font-weight: normal;
  font-size: 5rem;
  margin: 0;
  line-height: 0.9;
}

svg {
  fill: var(--textColour);
  transition: background-color 0.3s ease-in-out;
}

nav {
  margin-bottom: 6rem;
}

section {
  height: 100vh;
}

header.home {
  width: 100%;
  padding: 2rem 2rem 1rem;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.content-page {
  background-color: var(--bgColour);
  width: 100%;
  padding: 2rem 2rem 1rem 0;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.content-page div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header.content-page .line {
  width: 6rem;
  height: 0.1rem;
  background-color: var(--textColour);
  transition: background-color 0.3s ease-in-out;
}

main.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
main.home h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
  text-transform: none;
  margin: 0;
}

main.about {
  padding: 10rem 0 10rem;
}
main.about h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

.line {
  width: 8rem;
  height: 0.1rem;
  background-color: var(--textColour);
  transition: background-color 0.3s ease-in-out;
}

.heading {
  margin-bottom: 4rem;
}

.contact-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

footer {
  width: 100%;
  background-color: var(--bgColour);
  padding: 2rem;
  transition: background-color 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
.copyright p {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.2rem;
}

.tech-stack {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tech-stack ul {
  list-style-image: url("../images/chevron.svg");
  padding-left: 1rem;
}

/*# sourceMappingURL=App.css.map */
